<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferremas</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/isotipoR.png' %}" />
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/alonso.css' %}" />
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
  </head>
  <body>
    {% include 'base/header.html'%}
      
    <!-- Inicio offcanva -->
    
    {% include "base/offcanva.html" %}

    <!-- Fin offcanva -->

    <div class="search-bar">
      <input type="text" placeholder="Buscar..." />
      <span class="search-icon">
        <!-- Ícono de lupa (SVG) -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          width="20"
          height="20"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-2l4 4"
          />
        </svg>
      </span>
    </div>
    {% include 'base/footer.html'%}
    
    <script src="{% static '/js/carrito.js' %}"></script>
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
