body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

/* Contenedor de la barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto; 
    width: 100%;
    max-width: 600px; 
    padding: 0.5rem;
    background-color: #f1f1f1;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo del campo de entrada */
  .search-bar input[type="text"] {
    flex: 1;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 25px;
    background: transparent;
  }
  
  /* Estilo del ícono de lupa */
  .search-bar .search-icon {
    padding: 0.5rem;
    cursor: pointer;
    color: #555;
  }
  
  /* Cambia el color del ícono al pasar el cursor */
  .search-bar .search-icon:hover {
    color: #266afc;
  }
  
  /*estilo de estado del pedido */
  .main-content {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .table-section {
    overflow-x: auto;
  }
  
  .table-container {
    width: 100%;
  }
  
  .table-content {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .table-content th,
  .table-content td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .table-content th {
    background-color: #266afc;
    color: #fff;
    font-weight: bold;
  }
  
  .table-content tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .add-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .add-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #218838;
  }