footer{
  font-family: Helvetica;
}

.pie-pagina {
  width: 100%;
  background-color: #266afc;
  color: white;
}

.grupo-1 {
  display: flex;
}

.grupo-1 section {
  margin-top: 10px;
}

section h2 {
  font-weight: bold;
}

.box {
  height: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box figure img {
  width: 250px;
}

#p-logo {
  width: 20%;
}

#p-desc {
  width: 55%;
  display: block;
  text-align: justify;
}

#p-social {
  display: block;
}

.social {
  display: flex;
}

.social a {
  text-decoration: none;
  margin-left: 80px;
  color: white;
}

.social a:hover {
  opacity: 80%;
}

#p-contact {
  width: 25%;
  padding: 10px;
}

#p-contact p {
  text-align: justify;
}

#p-contact a {
  color: white;
  text-decoration: none;
}

.grupo-2 {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 30px 0px;
  }
}
