/* Reset de márgenes y bordes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo general del navbar */
  header {
    font-family: Helvetica;
    width: 100%;
    background-color: #266afc;
    padding: 1rem 0;
  }
  
  nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; /* Limita el ancho máximo del navbar */
    margin: 0 auto; /* Centra el navbar horizontalmente */
    padding: 0 1rem; /* Espaciado lateral */
  }
  
  /* Contenedor del logotipo alineado a la izquierda */
  .container-logo img {
    height: 50px; /* Tamaño del logotipo */
  }
  
  /* Contenedor del menú centrado */
  .container-cat ul {
    display: flex;
    gap: 2.5rem; /* Espacio entre enlaces */
    list-style: none;
    padding-left: 0;
  }
  
  .container-cat ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  .container-cat ul li a:hover {
    opacity: 0.8;
  }
  
  /* Contenedor de íconos alineado a la derecha */
  .container-icon a {
    margin-left: 1rem;
    color: #ffffff;
  }
  
  .container-icon svg {
    width: 35px;
  }
  
  /* Estilos opcionales para íconos en hover */
  .container-icon a:hover {
    opacity: 0.8;
  }