/* Catalogo */

main {
    display: flex;
    flex-direction: column;

    .buscador {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;

        input {
            width: 60vw;
            height: 6vh;
            padding-left: 1rem;
            border: 0.1em solid gray;
            border-radius: 1.5rem;
            box-shadow: 1px 1px 2px gray;

            &::placeholder {
                font-size: 1rem;
            }
        }
    }

    .main-catalogo {
        display: grid;
        grid-template-columns: 20vw 1fr;
        margin-top: 2vh;
        margin-bottom: 10vh;

        .filtros {
            height: 100%;

            article {
                text-align: center;
                width: 12.5vw;
                height: 40vh;
                margin-left: 1vw;
                box-shadow: 1px 1px 2px gray;
                border: 0.1em solid gray;
                border-radius: 1.5rem;
    
                h1 {
                    padding-top: 0.5em;
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
        }

        .productos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;

            .producto {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 15vw;
                height: 30vh;
                border: 0.1em solid gray;
                border-radius: 1.5rem;
                box-shadow: 1px 1px 2px gray;

                img {
                    width: 50%;
                    height: 50%;
                    margin: 0 auto;
                }

                .producto-desc {
                    text-align: center;    
                    
                    .texto-desc {
                        text-align: start;
                        padding: 0.5em;

                        h1, h2 {
                            margin-bottom: 1vh;
                        }

                        h1 {
                            font-size: 1.2em;
                            font-weight: bold;
                            opacity: 75%;
                        }

                        h2 {
                            font-size: 1.1em;
                            font-weight: lighter;
                        }

                        h3 {
                            font-weight: bolder;
                        }
                    }

                    .button-desc button {
                        width: 50%;
                        height: 2.5vh;
                        border-radius: 1.5rem;
                        border: 0;
                        font-weight: bold;
                        background: transparent;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/* Main pago.html */

.pago-container-1 .steps .steps-desc-2 {
    display: flex;
    justify-content: space-between;
}

.pago-container-1 .steps .steps-desc-2 .step-detail {
    color: #436A6F;
    font-weight: 800;
}

.pago-container-1 .steps .steps-desc-2 .step-detail-1{
    margin-left: 0;
}

.pago-container-1 .steps .steps-desc-2 .step-detail-2{
    margin-left: 8vh;
}

.pago-container-1 .steps .steps-desc-2 .step-detail-3{
    margin-right: 0;
}

.pago-datos {
    color: #436A6F;
    font-weight: 600;
    margin-left: 0.5em;
}

.pago-container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    margin-left: 8.5em;
    margin-bottom: 20vh;
}

/* Primer paso del pago */

.pago-container-2 .pago-datos .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10em;
}

.pago-container-2 .pago-datos .form .form-input {
    width: 20vw;
    height: 6vh;
    border: 0.158rem solid #1d48a5;
    border-radius: 0.6em;
    background-color: white;
    margin-bottom: 1.5em;
    padding: 0.5em;
}

.pago-container-2 .pago-datos .form .form-submit {
    width: 12vw;
    height: 5vh;
    border: 0.218rem solid #1d48a5;
    border-radius: 1em;
    color: #1d48a5;
    font-weight: 700;
    background-color: white;
}

/* Segundo paso del pago */

.pago-container-2 .pago-metodo .pago-option {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.pago-container-2 .pago-metodo .pago-option .pago-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.pago-container-2 .pago-metodo .pago-option .pago-group .m-radio {
    width: 3vw;
    height: 3vh;
}

.pago-container-2 .pago-metodo .pago-option .pago-group .m-radio:checked + .m-pago {
    background-color: #ebf1fd;
    border: 0.218rem solid #1d48a5;
}

.pago-container-2 .pago-metodo .m-pago {
    border: 0.218rem solid #1d48a5;
    border-radius: 0.5em;
    color: #1d48a5;
    font-size: 1.1em;
    font-weight: 800;
    text-align: center;
    width: 30vw;
    height: 8vh;
}

.pago-container-2 .pago-metodo .m-pago-cont {
    width: 12vw;
    height: 5vh;
    margin: auto;
    margin-left: 12.5vw;
    border: 0.218rem solid #1d48a5;
    border-radius: 1em;
    color: #1d48a5;
    font-weight: 700;
    background-color: white;
}

/* Resumen del pedido */

.pago-container-2 .pago-resumen {
    display: flex;
    flex-direction: column;
    border: 0.118rem solid #1d48a5;
    border-radius: 0.3em;
    padding: 1.5em;
    width: 25vw;
    height: 50vh;
    overflow-y: scroll;
}

.pago-container-2 .pago-resumen h2 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 600;
    color: #1d48a5;
}

.pago-container-2 .pago-resumen .productos-container .producto-r .product-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pago-container-2 .pago-resumen .productos-container .producto-r .product-desc h3 {
    font-size: 1.15em;
    font-weight: 500;
    color: #1d48a5;
}

.pago-container-2 .pago-resumen .productos-container .producto-r .product-desc img {
    width: 7vw;
    height: 14vh;
    border: 0.218rem solid #1d48a5;
    border-radius: 50%;
}

.pago-container-2 .pago-resumen .productos-container .producto-r .product-desc-2 .product-price,
.pago-container-2 .pago-resumen .productos-container .producto-r .product-desc-2 .product-count,
.pago-container-2 .pago-resumen .pago-total {
    display: flex;
    justify-content: space-between;
    color: #1d48a5;
    font-weight: 500;
}

/* Exito.html */
.main-exito {
    text-align: center;
    margin-top: 5vh;

    h1 {
        font-weight: bold;
    }

    p {
        font-size: 1.2em;
    }

    .detalle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;

        table .td1 {
            text-align: start;
            padding: 0.5em 1em 0.5em 1em;
        }
    }

    button {
        margin: 0 auto;
        border: 0.218rem solid #1d48a5;
        background-color: transparent;
        border-radius: 0.5em;
        color: #1d48a5;
        font-weight: 800;
        text-align: center;
        width: 10vw;
        height: 4vh;
    }
}